__pycache__/
*.py[cod]
.venv/
.venv_test/
venv/
*.egg-info/
.eggs/
.pytest_cache/
build/
dist/
runs/
third_party/
checkpoints/
data/
*.mp4
*.npz
!hoi_recon/**/*.npz
.DS_Store
.ipynb_checkpoints/
wget-log
*.log
